      .overlay{
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  top:0;
  left:0;
  background-color: rgba(0,0,0,0);
  z-index: 9999999;
  transition: .8s;
  text-align: center;
  padding: 125px 0;

}
.overlay:target{
  width: auto;
  height: auto;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.6);
}
.overlay:target .close{
  animation: slideDown .5s .5s forwards;
}
.containerPopup{
  width: 900px;
  height: 530px;
  background-color:#000033;
  margin: auto;
  border-radius: 30px;
  padding-top: 20px;
}
.overlay .close{
  font-family: arial;
  position: absolute;
  top:90px;
  left:50%;
  margin-left: -40px;
  color:black;
  text-decoration: none;
  font-size: 30px;
  opacity: 0;
}
.overlay:target .close{
  animation: slideDown .5s .5s forwards;
}

.containerPilih{
    margin: auto;
    width: 900px;
  }
  .containerPilih li{
    float: left;
    border-radius: 20px;
  }
  .containerPilih h3{
    text-align: center;
  }
  .pilihan li{
    width: 247px;
    height: 300px;
    border:1px solid #ffff00;
    float: left;
    margin-left: 20px;
    position:relative; 
    list-style: none;
    padding-left: 5px;
    padding-top: 40px;

  }
  .pilihan li a{
    text-decoration: none;
    font-size: 30px;

  }
  .pilihan li a p{
    text-align: center;
    padding-top: 40px;
  }
@keyframes slideDown{
  0%{
    opacity: 0;
    margin-top: -20px;
  }
  100%{
    opacity: 1;
    margin-top: 0;
  }

}